@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Playwrite+NZ+Basic:wght@100..400&display=swap');

:root{
    --font1: Verdana, Geneva, Tahoma, sans-serif;
    --font2: "Passion One", sans-serif;
    --font3: "Playwrite NZ Basic", cursive;
    

}

*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;  
}

html, body{
    font-family: var(--font1);
    height: 100%vh;
    background-color: rgb(57, 52, 52);
}

header{
    background-color: black;
    color: white;
    text-align: center;
}

header h1{
    padding-top: 50px;
    font-variant: small-caps;
    font-family: var(--font2);
    font-size: 8vw;
}

header p{
    padding-bottom: 50px;
}

a{
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

a:hover{
    text-decoration: underline;
}

section{
    font-family: var(--font3);
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 40px;
}

section p{
    padding: 2em;
}

section.normal{
    background-color: white;
    color: black;
}

section.imagem{
    background-color: rgb(49, 46, 46);
    color: white;
     background-position: right center;
    background-size: cover;
    box-shadow: inset 2px 2px 6px black;
    background-attachment: fixed;
}

.imagem > p{
    background-color: rgba(0, 0, 0, 0.34);
    display: inline-block;
    padding: 5px;
   
}

#img1{
    background-image: url(imagens/background001.jpg);
   
}

#img2{
    background-image: url(imagens/background002.jpg);
    
}



footer{
    background-color: black;
    text-align: center;
    color: white;
    padding:30px 0px;
}

footer:hover{
    background-image: url(imagens/wallpaper005.jpg);
    background-position: top center; 
    color: black; 
}

a:hover{
    color: blue;
}


